body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
/*Global*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}
header ul{
    margin: 0;
    padding: 0;
    
}
.button_1{
    height:38px;
    background: #e8491d;
    border: 0;
    padding: 0px 20px;
    color: #ffffff;
}
/*Header*/
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #e8491d;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0px 20px;
}
header #branding{
    float: left;
    
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .current a{
    color: #e8491d;
    font-weight: bold;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
/*Showcase*/
#showcase{
    min-height: 400px;
    background: url(showcase.jpg) no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
}
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}
#newsletter h1{
    float: left;
}
#newsletter form{
    float: right;
    margin-top: 15px;
}
#newsletter input{
    padding: 4px;
    height: 25px;
    width: 250px;
    margin-right: 10px;
}
/*Boxes*/
#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
#boxes .box img{
    width: 90px;
}
aside #sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}
article#main-col{
    float: left;
    width: 65%;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}
.topnav{
    display: none;
}
/*Media size 768*/
@media(max-width:768px){
    header #branding, header nav, header nav li, #newsletter h1, #newsletter form, #boxes .box{
        float: none;
        text-align: center;
        width: 100%;
    }
    .active{
        color: #e8491d;
    }
    header nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        text-align: left;
    }
    header{
        padding-bottom: 20px;
    }
    #showcase h1{
        margin-top: 40px;
    }
    #newsletter button{
        display: block;
        width: 100%;
    }
    #newsletter form input{
        width: 100%;
        margin-bottom: 5px;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    header nav ul{
        display: none;
    }
    .topnav{
        display: block;
    }

}